@import "tailwindcss";

/* HeaderApp */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.active-nav-link {
  color: #0d9488; /* teal-600 match */
  border-bottom: 2px solid #14b8a6; /* teal-500 match */
  padding-bottom: 4px;
}

/* LoginApp */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
body {
    font-family: 'Inter', sans-serif;
}
.auth-gradient {
    background: linear-gradient(135deg, #f7f9fb 0%, #eceef0 100%);
}