body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

.app
{
  background-color: blue;
  color: white;
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 8%;
  padding: 15px;
  border: 2px white solid;
  font-size: 25px;
}