body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: steelblue;
}

.app
{
  width: 40%;
  height: auto;
  margin: auto;
  background-color: navy;
  color: white;
  margin-top: 8%;
  padding: 25px;
  border: 3px white solid;
  font-size: 25px;
}

#form p
{
  text-align: center;
  font-size: 28px;
}