body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     background-color: aqua;
}

.app
{
     margin: 50px;
     padding: 5px;
     background-color: black;
     color: white;
     border: 1px solid black;
     border-radius: 18px;
}

.app:hover
{
     background-color: blue;
     color: white;
}
