/* overall container */
body {
    font-family: Arial, sans-serif;
    background-color: #e2f3f9;
    margin: 0;
    padding: 0;
}

.contact-section {
    background-color: #a9d2e7;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 8px;
}

.contact-info{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin: 2px;
    gap: 5px;
}

h2 {
    text-transform: uppercase;
    text-align: left;
    color: #000;
    border-bottom: 2px solid #7bb8d4;
    padding-bottom: 5px;
}

.address {
    display: block;
    margin-bottom: 20px;
}

.icon {
    color: #e74c3c;
    margin-right: 5px;
}

.form-map-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

textarea {
    height: 80px;
    resize: none;
}

.send-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.send-btn:hover {
    background-color: #c0392b;
}

.map {
    flex: 1;
}

.social {
    margin-top: 10px;
    text-align: center;
}

.social a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 5px;
}
