body {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}

#loader {
     width: 400px;
     height: 400px;
     position: absolute;
     left: 35%;
     top: 18%;
     background: url('https://www.icegif.com/wp-content/uploads/2023/10/icegif-935.gif') no-repeat;
     background-size: 400px 400px;
     background-position: center;
}

#main {
     width: 50%;
     height: auto;
     margin: auto;
     margin-top: 5%;
     display: none;
}

#main h1 {
     font-size: 85px;
     text-align: center;
     color: blue;
     transition: 2s ease all;    
}