*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:'Poppins', sans-serif;
    }

    body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:#f1f5f9;
    }

    .container{
      width:850px;
      display:grid;
      grid-template-columns:1fr 1fr;
      background:white;
      border-radius:20px;
      overflow:hidden;
      box-shadow:0 10px 30px rgba(0,0,0,0.15);
    }

    .left{
      background:linear-gradient(135deg,#2563eb,#06b6d4);
      color:white;
      padding:50px 15px;
      display:flex;
      flex-direction:column;
      justify-content:center;
    }

    .left h1{
      font-size:38px;
      margin-bottom:15px;
    }

    .left p{
      line-height:1.7;
      font-size:15px;
    }

    .right{
      padding:40px;
    }

    .right h2{
      text-align:center;
      margin-bottom:25px;
      color:#1e293b;
    }

    .input-box{
      margin-bottom:18px;
    }

    .input-box input,
    .input-box select,
    .input-box textarea{
      width:100%;
      padding:14px;
      border:1px solid #cbd5e1;
      border-radius:12px;
      outline:none;
      transition:0.3s;
      font-size:14px;
    }

    .input-box input:focus,
    .input-box select:focus,
    .input-box textarea:focus{
      border-color:#2563eb;
      box-shadow:0 0 8px rgba(37,99,235,0.2);
    }

    textarea{
      resize:none;
      height:90px;
    }

    .btn{
      width:100%;
      padding:14px;
      border:none;
      border-radius:12px;
      background:#2563eb;
      color:white;
      font-size:16px;
      cursor:pointer;
      transition:0.3s;
    }

    .btn:hover{
      background:#1d4ed8;
    }

    @media(max-width:768px){
      .container{
        width:95%;
        grid-template-columns:1fr;
      }

      .left{
        text-align:center;
      }
    }