body 
{
background-color: lightgray;    
}
div 
{
 width: 30%;
 height: auto;
 margin: auto;   
}
div h1 
{
font-size: 45px;
color: blue;    
}
div img
{
 width: 250px;
 height: 250px;   
}
div img:hover 
{
border-radius: 50%;    
}